*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav1{
    margin-left: 40rem;
}

.header1{
    background-color: rgb(92, 175, 92);
    color: white;
}

.im2{
    background-color: rgb(92, 175, 92);
}