*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav1{
    margin-left: 40rem;
}

.header1{
    background-color: #16ac66;
    color: white;
}

.im2{
    mix-blend-mode: darken;
    margin-top: -25px;
    margin-left: -583px;
}

.text1{
    float: right;
}

.im1{
    background-image: url(../img/dots-green\ \(1\).svg);
    background-position: top;
    background-repeat: no-repeat;
    float: right;
    margin-right: -220px;
}